/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyer reset above */

html {
  font-size: 16px;
}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Web';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Web';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

#aloha-logo {
  width: 160px;
  height: 62px;
  margin-left: 3rem;
}

.header-list {
  list-style-type: none;
  text-transform: uppercase;
  align-content: center;
  justify-content: space-between;
  display: flex;
  margin-top: 1rem;
  height: 5rem;
}

.header-list ul {
  justify-content: center;
}

.header-list ul a {
  text-decoration: none;
  color: #e2574c;
}

.header-list ul a:hover {
  color: #b64036;
}

.header-list ul a:focus {
  outline: thin dotted;
}

.header-list ul li:nth-child(n3) {
padding: 0.75rem 0 0 0;
}

.menu-item {
  color:  #e2574c;  
  display: inline-block;  
  font-family: 'Raleway Web', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  list-style-type: none;
  margin: 0px 15px 0px 15px;
  padding: 1.5rem 0 0 0;
  text-transform: uppercase;
  text-align: center;
}

#cart-icon {
  margin-bottom: 1rem;
  margin-right: 4rem;  
  width: 4rem;
}

.hero-text p,h1 {
  align-content: center;  
  color: #fff;
  display: flex;  
  justify-content: center;  
  text-shadow:  2px 2px 3px rgba(100, 100, 100, 0.8);
}

.p-box {
  align-items: center;  
  display: flex;
  height: 7rem;
  justify-content: center;  
}

.p-box p {
  max-width: 60%;
  padding: 1.5rem 0.5rem;
}

.hero-text p {
  font-family: 'Raleway Web', Helvetica, sans-serif;
  font-size: 1.15rem;  
  font-weight: bold;
  text-transform: uppercase;
}

.hero-text h1 {
  font-family: 'Playfair Display Web', Times, serif;
  font-size: 3.75rem;
  padding-top: 1rem;  
}

.hero-text {
    color: #FFF; 
    line-height: 1; 
    margin: 0 auto;  
    padding-top: 3rem;          
    text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.8);
    text-align: center;
    width: 80%;    
}

.hero-banner {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain, 20%, contain;
  background-position: center, center 5rem, center;
  display: flex;
  flex-flow: column nowrap;  
  justify-content: center;
  height: 525px;
  position: relative;  
  width: 100%;  
}

.about-banner {
  display: flex;
  flex-flow: column wrap;
  height: 13rem;  
  justify-content: center;
  margin-top: 2rem;  
  text-align: center;
}

.about-banner p {
  display: flex;  
  font-family: 'Raleway Web', Helvetica, sans-serif;
  height: 25%;  
  justify-content: center;
  margin-top: 1rem;  
  padding: 0.25rem 0.25rem;
}

.about-banner h3 {
  font-family: 'Playfair Display Web', Times, serif;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 100;      
  text-align: center;    
}

.headerbold {
  font-family: 'Playfair Display Web', Times, serif;
  font-weight: bold;
  font-style: normal;
}

.nav-menu {
  display: flex;  
  font-family: 'Raleway Web', Helvetica, sans-serif;
  font-weight: bold;
  flex-flow: row wrap;  
  height: 35rem;  
  justify-content: space-between;  
  text-shadow:  2px 2px 3px rgba(100, 100, 100, 0.8);
  width: 100%;
}

.nav-menu a {
  color: white;  
  text-decoration: none;
}

.nav-menu a:hover {
  color: #f5ebc6;
}

.nav-menu ul {
  display: flex;  
  flex-flow: row wrap;
  width: 100%;
}

.long-box {
  border: 3px solid white;  
  width: 50%;

}

.short-box {
  border: 3px solid white;   
  width: 25%;
}

.nav-menu .nav-item:nth-child(n) {
  align-items: center;  
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mens-category.jpg");
  background-size: cover;
  background-position: right;  
  color: white;
  display: flex;  
  font-size: 2rem;  
  justify-content: center;
  text-transform: uppercase;
}


.nav-menu .nav-item:nth-child(2n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/trends-category.jpg");
  background-size: cover;
  background-position: right;
}

.nav-menu .nav-item:nth-child(3n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/glasses-category.jpg"); 
  background-size: cover;
  background-position: right;
}

.nav-menu .nav-item:nth-child(4n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/sale-category.jpg");
  background-size: cover;
  background-position: right;
}

.nav-menu .nav-item:nth-child(5n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/bags-category.jpg");
  background-size: cover;
  background-position: right;
}

.nav-menu .nav-item:nth-child(6n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/womens-category.jpg");
  background-size: cover;
  background-position: right;
}

.middle-banner {
  display: flex;  
  height: 200px;
  justify-content: center;
}

.middle-banner h3 {
  align-items: center;  
  display: flex;  
  font-family: 'Playfair Display Web', Times, serif;
  font-style: italic;  
  font-size: 2.5rem;
  font-weight: 100;
}

.middle-banner h3 span {
  padding-left: 1rem;
}

/* CAROUSEL BELOW */

.item-carousel {
  align-content: center;
  align-items: center;  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.carousel-item {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-width: 25%;
  max-width: 25%;
}

.item-carousel p {
  align-content: center;  
  display: flex;  
  font-family: 'Raleway Web', Helvetica, sans-serif;
  justify-content: center;
  margin-top: 2rem;
}

.carousel-price {
  margin-bottom: 0.5rem;
}

.carousel-header {
  font-size: 0.8rem;
  text-transform: uppercase;  
}

.carousel-product {
  color:  #e2574c;  
  display: flex;
  font-size: 1.5rem;  
  justify-content: center;
  padding-top: 1rem;
}

.flickity-page-dots .dot {
  background: #cdcdcd;  
  height: 9px;
  opacity: 1;  
  width: 9px;
}

.flickity-page-dots .dot.is-selected {
  background: #333;
}

.flickity-viewport {
  display: flex;  
  width: 98%;
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
}

.flickity-prev-next-button {
  display: none;
}
/* CAROUSEL ABOVE */

.updates-box {
  align-items: center;  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url("../images/wave-bkgd.jpg");
  background-position: bottom;  
  color: white;
  display: flex;  
  flex-flow: column nowrap;  
  height: 25rem;
  justify-content: center; 
  margin-top: 3rem;
}

.updates-box h3 {
  display: flex;
  font-family: 'Playfair Display Web', Times, serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 2rem;
}

.updates-box h3 span {
  padding-left: 1rem;
}

.updates-box p {
  align-content: center;  
  display: flex;  
  font-family: 'Raleway Web', Helvetica, sans-serif;
  flex-flow: row wrap;
  font-size: 1.25rem;  
  justify-content: center;
  padding: 0.25rem 0.25rem;
}

form {
  display: inline-block;
  height: 3.5rem;
  padding-top: 3em;
  width: 30rem;
}

.subscribe-field {
  align-items: center;  
  background: #FFF;
  border: none;
  border-radius: 100px;  
  display: flex;  
  flex-flow: row nowrap;
  height: 3rem;  
  justify-content: space-between;  
  outline: none;
  padding-left: 2rem;
   
}

.subscribe-field input {
  height: 2rem;
  width: 20rem;
  font-size: 1.25rem;
  font-weight: 100;
  box-shadow: none;
  border: none;
}

.subscribe-field input:focus {
  border: none;
  outline: none;
}

.subscribe-field input,button {
  font-family:'Raleway Web', Helvetica, sans-serif;
  font-weight: bold;
}

.subscribe-field button {
  background-color: #e2574c; 
  border: none;
  border-radius: 100rem;
  color: #FFF; 
  font-size: 1.15rem;  
  font-weight: bold;  
  height: 2.5rem;  
  margin-right: 0.25rem;
  text-align: center;  
  width: 7.7rem;
}

.subscribe-field button:hover {
  cursor: pointer;
} 

.footer-banner {
  background: #242424;
  border-top: 0.5rem solid #FFFFFF;  
  color: white;
  display: flex;
  height: 22.5rem;  
  justify-content: space-between;
}

.footer-info { 
  align-content: center;  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.footer-info p {
  font-family: 'Playfair Display Web', Times, serif;
  padding-left: 3rem;
}

.footer-info.middle {
  display: flex;  
  flex-flow: row nowrap;  
  padding-top: 2.5rem;
}

.footer-info.middle a {
  color: white;
  font-size: 1rem;
}

.footer-info.bottom {
  color: #969696;
  display: flex;
  padding-top: 2.5rem;  
}

.social-media-link-footer {
  align-items: center;  
  display: flex;  
  justify-content: flex-end;
  padding-right: 3rem;
  width: 40%;  
}

.social-media-link-footer li {
  display: flex;  
  font-size: 1.15rem;
  font-family: 'Raleway Web', Helvetica, sans-serif;
}

.social-media-link-footer ul li a {
  color: #FFFFFF;  
  display: flex;  
  flex-flow: row nowrap;  
  justify-content: center;  
  margin: 0 0.15rem;
  padding: 0.5rem;  
  text-decoration: none;
}

/* 600px+  */
@media screen and (max-width: 1240px) {
  .menu-item {
    font-size: 0.9rem;
  }  

  #aloha-logo {
    margin-left: 1.5rem;
    width: 8rem;   
  }

  #cart-icon {
  width: 3em;
  margin-right: 1.5rem;
  }

  .hero-text h1 {
  font-size: 3rem;
  }

  .hero-banner {
    height: 400px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, 150px, cover;
    background-position: center, bottom, bottom;
  }

  .nav-menu ul li {
    font-size: 1.5rem;
  }

  .carousel-item {
   display: flex;
   max-width: 50%;
   min-width: 50%; 
   margin-left: 2.75rem;
   overflow: visible;
  }

  .nav-menu .nav-item:nth-child(n) {
    font-size: 1.5rem;
  }

  .sign-up-text {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  .subscribe-field {
    min-width: 70%;
  }    
}

@media screen and (max-width: 600px) {

  html {
    font-size: 14px;
  }

  .header-list {
    height: 8rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .header-list ul {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid lightgray;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    order: 3;
  }

    #cart-icon {
    height: 3.25rem;
    margin-top: 0.7rem;
  }

   .aloha-logo-box {
    height: 50%;
    width: 50%; 
    order: 1;
   }

   .cart-icon-box {
     height: 50%;
     width: 50%;
     order: 2;
     display: flex;
     justify-content: flex-end;
   }

   .carousel-item{
     min-width: 100%;
     max-width: 100%;
   }

   .nav-menu {
     height: 90rem;
   }
   .long-box {
     width: 100%;
   }

   .short-box {
     width: 50%;
   }

   .footer-info {
     display: flex;
     justify-content: center;
     align-items: center;

   }


   .footer-banner {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
   }

   .social-media-link-footer {
     display:flex;
     padding: 0px 0px;
   }

   .social-media-link-footer ul {
     display: flex;
     flex-flow: row nowrap;
     width: 100%;
     justify-content: flex-end;
   }

   .social-media-link-footer p {
     display: none;
   }
    .social-media-link-footer ul li i {
      padding-top: 5rem;
    }

}






    