/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyer reset above */

html {
  font-size: 16px;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff'),
         url('fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

#aloha-logo {
  display: flex;
  width: 10rem;
  top: 18px;
  left: -40px;
  margin-left: 1rem;
}

.header-list {
  list-style-type: none;
  text-transform: uppercase;
  align-content: center;
  justify-content: space-between;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 1rem;
}

.menu-item {
  font-family: 'ralewaymedium';
  color:  #e2574c;
  margin: 0px 15px 0px 15px;
  padding: 1rem;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
}

#cart-icon {
  width: 55px;
  height: 55px;
  display: flex;
  top: 23px;
  flex-flow: row nowrap;
  margin-right: 2rem;
}

.hero-banner p,h1 {
  color: #fff;
  text-shadow:  2px 2px 3px rgba(100, 100, 100, 0.8);
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero-banner p {
  font-family: 'ralewaymedium';
  font-size: 1.15rem;
  text-transform: uppercase;
  padding-top: 4.5rem;
}

.hero-banner h1 {
  font-family: 'playfair_displayregular';
  font-size: 4rem;
  padding-top: 0.75rem;
  
}

.hero-banner {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/banner-girl.png"), url("images/flower-bkgd.jpg");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: contain;
  background-position: center, center 5rem, center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.styles-banner {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
  height: 13rem;
}

.styles-banner p {
  font-family: 'ralewaylight';
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.25rem 0.25rem;
  margin-top: 1rem;
}

.styles-banner h3 {
  font-family: 'playfair_displayitalic';
  font-size: 40px;
  text-align: center;
  font-weight: 100;        
}

.headerbold {
  font-family: 'playfair_displaybold';
  font-weight: bold;
}

.nav-menu {
  font-family: 'ralewaymedium';
  text-shadow:  2px 2px 3px rgba(100, 100, 100, 0.8);
  height: 50rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 1rem 1rem;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

.nav-menu a:hover {
  color: #f5ebc6;
}

.nav-menu ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.long-box {
  width: 50%;
  border: 2px solid white;
  box-sizing: border-box;

}

.short-box {
  width: 25%;
  border: 2px solid white;
  box-sizing: border-box;  
}


.nav-menu .nav-item:nth-child(n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/mens-category.jpg");
  color: white;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  font-size: 3rem;
}


.nav-menu .nav-item:nth-child(2n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/trends-category.jpg");
  background-size: cover;
}

.nav-menu .nav-item:nth-child(3n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/glasses-category.jpg"); 
  color: white;
  background-size: cover;
}

.nav-menu .nav-item:nth-child(4n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/sale-category.jpg");
  color: white;
  background-size: cover;
}

.nav-menu .nav-item:nth-child(5n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/bags-category.jpg");
  color: white;
  background-size: cover;
}

.nav-menu .nav-item:nth-child(6n) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/womens-category.jpg");
  color: white;
  background-size: cover;
}

.middle-banner {
  height: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.middle-banner h3 {
  font-family: 'playfair_displayitalic';
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

.item-carousel {
  width: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.item-carousel p {
  font-family: 'ralewaylight';
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.25rem 0.25rem;
  margin-top: 2rem;
}

.items-carousel-list {
   display: flex;
   position: relative;
}

.carousel-item {
  width: 25%;
  margin-right: 10px;
}

.carousel-header {
  text-transform: uppercase;
}

.carousel-product {
  display: block;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color:  #e2574c;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #cdcdcd;
}

.flickity-page-dots .dot.is-selected {
  background: #333;
}

.flickity-viewport {
  freeScroll: true;
  width: 90%;
  display: flex;
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
}

.updates-box {
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(images/wave-bkgd.jpg);
  background-position: bottom;
  height: 25rem;
  margin-top: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.updates-box h3 {
  display: flex;
  font-family: 'playfair_displayitalic';
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 2rem;
}

.updates-box p {
  font-family: 'ralewaylight';
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.25rem 0.25rem;
  font-size: 1.25rem;
}

.subscribe-field {
      outline: none;
    border: none;
    border-radius: 100px;
    width: 100%;
    height: 3rem;
}

.subscribe-field input,button {
  font-family:'ralewaymedium';
}

.subscribe-field button {
  width: 7.7rem;
  height: 2.5rem;
  border: none;
  background-color: #e2574c;
  border-radius: 100rem;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  font-size: 1.15rem;
}

.subscribe-field button:hover {
  cursor: pointer;
} 

.footer-banner {
  color: white;
  height: 22.5rem;
  display: flex;
  border-top: 0.5rem solid #FFFFFF;
}

.footer-info {
  background: #242424;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

.footer-info p {
  font-size: 1.2rem;
  padding-left: 6rem;
}

.footer-info.top {
  padding-top: 5rem;
}

.footer-info.middle {
  padding-top: 2.5rem;
}

.footer-info.middle a {
  color: white;
  font-size: 1.25rem;
}

.footer-info.bottom {
  padding-top: 2.5rem;
  color: #969696;
}

.social-media-link-footer {
  background: #242424;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 7rem;
}

.social-media-link-footer li {
  font-size: 1.15rem;
  font-family: 'ralewaylight';
  display: flex;
}

.social-media-link-footer ul li a {
  margin: 0 0.15rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
}

.social-media-link-footer ul li i {
  padding-right: 1rem;
}